/* style.css */
/* https://visme.co/blog/website-color-schemes/ */
/* Color scheme */
/* 05386b - Dark blue */
/* 379683 - Teal */
/* 5cdb95 - Light green */
/* 8ee4af - Light teal */
/* edf5e1 - Off-white */


body {
    background-color: #5cdb95;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #379683;
    color: #edf5e1;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

main {
    padding: 10px;
}
/*------------------------------------------------------*/
/*Main container*/
#main-container {
    display: flex;
}

/*Left content*/
#left-content {
    width: fit-content;
    flex: 1;
    min-width: 250px;
    max-width: 340px;
}

#input-container {
    text-align: center;
    margin: 5px;
}

input[type="text"] {
    background-color: #edf5e1;
    font-size: 20px; /* Adjust the font size as needed */
    padding: 3px; /* Adjust padding to increase input box size */
}

input[type="text"], #calculateBtn {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: calc(100% - 10px);
}

#calculateBtn {
    background-color: #05386b;
    color: #edf5e1;
    width: 100%;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s;
}

#input-container button:hover {
    background-color: #8ee4af;
    color: #05386b;
}

/*Result Container*/
#result-container p {
    margin: 5px 0px;
    margin-left: 10px;
    font-size: 20px;
}

#result-container h2 {
    color: #05386b;
    text-align: center;
    margin: 0px;
}

#basicInfo-container {
    background-color: #edf5e1;
    color: #05386b;
    margin: 5px;
}

/* Index container */
#index-container p {
    background-color: #05386b;
    color: #edf5e1;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    transition: background-color 0.3s;
}

#index-container p:hover { 
    background-color: #8ee4af;
    color: #05386b;
}

/*Right content*/
#right-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 20px;
}

#yourmapBtn {
    text-align: center;
}

#upperright {
    background-color: #edf5e1;
    color: #05386b;
    padding: 10px;
    margin: 5px;
    margin-bottom: 2.5px;
}

#upperright h2 {
    margin: 0px;
}

#upperright p {
    margin: 10px;
}

#bottomright {
    background-color: #05386b;
    color: #edf5e1;
    flex: 1;
    text-align: justify;
    padding: 10px;
    margin: 5px;
    margin-top: 2.5px;
}

#bottomright h2 {
    margin: 0px;
}

#bottomright p {
    margin-bottom: 10px;
}

/*Language Container*/  
#language-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

#language {
    background-color: #edf5e1;
    color: #05386b;
    font-size: 16px;
    padding: 3px;
}

/* Footer */
#contactInfo {
    margin-top: 0; /* Remove top margin */
    color: #edf5e1;
}

#contactInfo h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#contactInfo p {
    font-size: 20px;
    margin: 5px 0;
}

/* Define a media query for small screens */
@media only screen and (max-width: 660px) {
    /* Hide the right content */
    #right-content {
        display: none;
    }

    /* Adjust the left content to occupy full width */
    #left-content {
        max-width: 100%;
    }
}

/* Matrix */
/* Matrix */
#matrix-container {
    display: flex;
    justify-content: center;  /* Center children horizontally */
    align-items: center;      /* Center children vertically */
    margin-top: 20px;         /* Add some space at the top */
}

#birthdateMatrixContainer, #nameMatrixContainer {
    width: 250px;
    margin: 0px 15%;
}

#birthdateMatrixContainer h3,
#nameMatrixContainer h3 {
    text-align: center;
    margin: 0px;
}

#birthdateMatrixContainer table,
#nameMatrixContainer table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%; /* Set table width to 100% */
    background-color: #edf5e1;
    color: #05386b;
}

#birthdateMatrixContainer th,
#nameMatrixContainer th {
    text-align: center; /* Center align header text */
    padding: 15px;
    border: 1px solid #05386b;
}

#birthdateMatrixContainer td,
#nameMatrixContainer td {
    padding: 15px;
    border: 3px solid #05386b;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle; /* Align cells vertically in the middle */
}

.birthdate-text {
    color: red; /* Set the color for birthdate text */
}

.name-text {
    color: #05386b; /* Set the color for name text */
}