/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 10px;
}
/*------------------------------------------------------*/
/*Main container*/
#main-container {
    display: flex;
}

/*Left content*/
#left-content {
    background-color: rgb(230, 230, 230);
    width: fit-content;
    flex: 1;
    max-width: 320px;
}

#input-container {
    margin-top: 5px;
    margin-left: 10px;
}

/*Result Container*/
#result-container p {
    margin: 5px 0px;
    margin-left: 10px;
}

#result-container h2 {
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#basicInfo-container {
    background-color: #a09e9e;
    margin-bottom: 10px;
}

#index-container p {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

#index-container p:hover { 
    /* Add hover effect */
    background-color: #e0e0e0;
}

/*Right content*/
#right-content {
    background-color: rgb(179, 179, 179);
    flex: 1;
}

#index-head {
    padding-left: 10px;
    padding-right: 10px;
}

/*Language Container*/
#language-container {
    position: absolute;
    top: 10px;
    right: 10px;
}
