/* style.css */

body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #003d17;
}

header, footer {
    background-color: #0c2946;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 10px;
}
/*------------------------------------------------------*/
/*Main container*/
#main-container {
    display: flex;
}

/*Left content*/
#left-content {
    background-color: #091d32;
    width: fit-content;
    flex: 1;
    max-width: 320px;
    border: 3px solid black;

}

#input-container {
    text-align: center;
    width: 100%;
}

input[type="text"] {
    font-size: 16px; /* Adjust the font size as needed */
    padding: 3px; /* Adjust padding to increase input box size */
    width: 290px; /* Adjust width as needed */
    background-color: #c5b4db;
}

input[type="text"], #calculateBtn {
    font-family:'Courier New', Courier, monospace;
    width: calc(100% - 10px);
    margin-bottom: 2px;
}

#calculateBtn {
    font-size: 16px;
    text-align: center;
    width: 100%;
    background-color: #7827db;
    color: #fff;
}

#input-container button:hover {
    background-color: #2d0e52;
}

/*Result Container*/
#result-container p {
    margin: 5px 0px;
    margin-left: 10px;
}

#result-container h2 {
    color: #ffffff;
    margin: 0px;
    padding-left: 5px;
    border-top: 3px solid #000000;
}

#basicInfo-container {
    color: #fff;
    background-color: #5b96d2;
    border: 3px solid #000000;
    border-right: 0px;
    border-left: 0px;
    margin-bottom: 10px;
}

#index-container p {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #66a1db;
    color: #fff;
    transition: background-color 0.3s;
}

#index-container p:hover { 
    /* Add hover effect */
    background-color: #0c2946;
}

/*Right content*/
#right-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#bottomright {
    background-color: #091d32;
    color: #fff;
    flex: 1;
    text-align: justify;
    border: 3px solid black;
    border-top: 0px;
    border-left: 0px;
    padding: 10px;
}

#bottomright h2 {
    margin: 0px;
}

#bottomright p {
    margin: 0px;
}

#upperright {
    padding: 10px;
    border: 3px solid #000000;
    border-left: 0px;
    background-color: #66a1db;
    color: #000000;
}

#upperright h2 {
    margin: 0px;
}

/*Language Container*/  
#language-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

#language {
    font-size: 16px;
    padding: 3px;
}

/* Footer */
#contactInfo {
    margin-top: 0; /* Remove top margin */
}

#contactInfo h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

#contactInfo p {
    color: #fff;
    font-size: 16px;
    margin: 5px 0;
}

/* Define a media query for small screens */
@media only screen and (max-width: 660px) {
    /* Hide the right content */
    #right-content {
        display: none;
    }

    /* Adjust the left content to occupy full width */
    #left-content {
        max-width: 100%;
    }
}

