/* _floating_utils_drawer.css */

/* Floating utils collapsed state */
#utils-buttons.is-collapsed {
    transform: translateX(calc(100% - 12px));
    pointer-events: none;
    transition-delay: 40ms;
    transition-duration: 1000ms;
}

#utils-buttons.is-collapsed #utils-drawer-handle {
    pointer-events: auto;
}

#utils-buttons.interaction-locked {
    pointer-events: none;
}


/* Drawer handle */
#utils-drawer-handle {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(-100%, -50%);

    width: 12px;
    height: 72px;

    background: linear-gradient(to right,
            var(--drawer-handle-bg-start),
            var(--drawer-handle-bg-end));

    border-radius: 0 8px 8px 0;
    box-shadow: 2px 0 10px var(--drawer-handle-shadow);

    cursor: pointer;

    transition:
        background 200ms ease,
        box-shadow 200ms ease;
}

#utils-drawer-handle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    width: 2px;
    height: 28px;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.35);
}

#utils-buttons:not(.is-collapsed)~#utils-drawer-handle {
    opacity: 0;
    pointer-events: none;
}