/* _theme.css - Theme Toggle System and old-theme styles */

/*-------------- THEME TOGGLE SYSTEM START --------------*/
body.old-theme {
    --gunmetal: rgba(76,48,31,.5);
    --gunmetal-gray-blue: rgba(76,48,31,.5);
    --midnight-green: rgba(75,134,170,.85);
    --slate-fray: #BDD0D2;
    --timberwolf: #F8F2DC;
    --verdigris: #CD4631;

    background-color: #F8F2DC;
    color: #000;
}

body.old-theme header,
body.old-theme footer {
    background-color: #F8F2DC;
    color: rgba(76,48,31,.5);
}

body.old-theme #language {
    background-color: rgba(76, 48, 31, 0.5);
    color:#F8F2DC;
}

body.old-theme #input-container {
    background-color: rgba(76,48,31,.5);
}

body.old-theme #calculateBtn {
    background-color: #ffc6af;
    color: #CD4631;
}

body.old-theme #calculateBtn:hover {
    background-color: #CD4631;
    color: #F8F2DC;
}

body.old-theme #index-container p {
    background-color: #BDD0D2;
    color: #0063a1;
}

body.old-theme #index-container p:hover {
    background-color: #4B86AA;
    color: #F8F2DC;
}

body.old-theme #upperright {
    background-color: rgba(75,134,170, .85);
    color: #F8F2DC;
}

body.old-theme #upperright:hover {
    background-color: rgba(75,134,170, 1);
}

body.old-theme #bottomright {
    background-color: #F8F2DC;
    color: rgba(76,48,31,.5);
}

body.old-theme #personalCalendar {
    color: rgba(76,48,31,.5);
}

body.old-theme #contactHead {
    color: rgba(76,48,31,.5);
}

body.old-theme a {
    color: #4B86AA;
}

body.old-theme a:hover {
    color: #d5e0e7;
}

body.old-theme #utils-buttons button {
    background: rgba(76, 48, 31, 0.5);
}
/*-------------- THEME TOGGLE SYSTEM END---------------*/